*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.menu-header{
background-color: rgb(78, 135, 168);
display: flex; /*faz com que o menu fique de uma lado da pag e os demais conteudos do lado oposto*/
padding: 60px; /**/
justify-content: end; /*leva todo o menu para o final do header*/
flex-wrap: wrap; /*permite que ocorro a quebra de linhas para adequação do conteudo inserido na pagina web*/
align-items: center;
}

.menu-header a{
    text-decoration: none; /*retira a decoração que veio junto com a lista inserida na taq a*/
    justify-content: space-between; /*deixa os itens da lista lado a lado mas não colados um o outro*/
    color: aliceblue;
    font-size: 13px;
}

.menu-header li{
    display: flex;
    margin-left: 50px;
    list-style: none; /*retirando as decorações da lista que foi inserida na tag a*/
}

.menu-header a :hover{
    color: blue; /*dentro no menu hover, estou definindo a cor que sera exibida ao passar o mouse*/
    transition: 0.8s; /*definindo o tempo que vai levar para ser exibida a cor ao passar o mouse*/
    cursor: pointer;
}

.options{
    display: flex;
}

#sessao1{
    /* margin-left: 50px; */
    /* https://cssgradient.io/ - site para criar uma cor gradiente */
    padding: 15rem;
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
}

#sessao1 h2{
    align-items: center;
    font-size: 3em; /*48px*/
    color: rgba(0, 0, 0, 0.759);
}

#sessao1 p{
    font-size: 2.3em;
    margin: 20px 0;
}

#sessao1 > a button:hover{
color: aliceblue;
background-color: rgb(19, 153, 108);
transition: 0.8s;
border-color: aliceblue;
cursor: pointer;
}

#sessao1 button{
    padding: 22px;
    border-color: rgb(19, 153, 108);
    border-radius: 40px;
    font-size: 17px;
    margin-bottom: 20px;
    color: rgb(19, 153, 108);
    width: 20em;
}

#app{
    display: flex;
    padding: 100px;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-around;
    
}

#app > div img{
    width: 25rem;
    height: 25rem;
    margin-top: -70px;
    margin-left: 70px;
}

#app > div > p{
    font-size: 2.8em;
    margin: 20px 0;
}

#app > div button{
    padding: 22px;
    border-color: rgb(19, 153, 108);
    border-radius: 40px;
    font-size: 17px;
    margin-bottom: 20px;
    color: rgb(19, 153, 108);
    width: 20em;
    background-color: aliceblue;
}

#app > div button:hover{
    color: aliceblue;
    background-color: rgb(19, 153, 108);
    transition: 0.8s;
    border-color: aliceblue;
    cursor: pointer;
}

#container{
    padding: 15rem;
    background-color: aliceblue;
    

}

#container h1{
    font-size: 40px;
    text-align: center;
    color: rgb(7, 7, 99, 0.697);
    margin-top: -20rem;
    margin-bottom: 2rem;
}

#container p{
    font-size: 1.8rem;
    color: rgb(34, 34, 74);
    margin-bottom: 30px;
    text-align: justify;
}

#container a{
    text-decoration: none;
}

#container button{
    padding: 22px;
    border-color: rgb(48, 19, 153);
    border-radius: 40px;
    font-size: 17px;
    margin-bottom: 20px;
    color: blue;
    width: 15em;
    background-color: aliceblue;
}

#container > a button:hover{
    background-color: rgb(50, 50, 226);
    color:aliceblue;
    transition: 0.8s;
    cursor: pointer;
}

.line{
    width: 70%;
    margin: 50px auto; /* o primeiro valor refere-se as margens superior e inferior, o segundo valor refere-se as margens da lateral*/
}

#container img{
    width: 45rem;
    margin-left: 280px;
}

#container-cofre{
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
    background-position: center;
    background-attachment: fixed; /*faz com que a imagem fique fixa, ao rolar a tela para baixo a imagem permanece no fundo*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15rem;

}

#container-cofre img{
    width: 20rem;
    height: auto;
    margin-top: 9rem;
}

#container-cofre h2{
    color: aliceblue;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    margin-left: 5rem;
}

#container-cofre p{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    margin-left: 5rem;
}

footer{
    background-color: rgba(2, 2, 2, 0.966);
    color: rgba(58, 58, 58, 0.759);
    padding: 3rem;
    text-align: center;
}

footer div{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;
    margin-left: 2rem;
    margin-right: 4rem;
    list-style: none;
    margin-top: 2rem;
    
}

footer img{
    width: 20rem;
    align-items: center;
}

footer div a{
    text-decoration: none;
    color: aliceblue;
}

footer div a:hover{
    color: rgb(65, 2, 90);
    transition: 0.8s;
}



